

.canSelect{
    overflow: hidden;
    overflow-wrap: anywhere;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(37, 49, 60, 0.05);
    border-radius: 5px;
    min-height:68px;
    cursor: pointer;
    user-select: none;
    border:2px solid #25313c00;
}
.canSelect-limited{
    height: 68px;
}
.fixedBox{
    display: flex;
    overflow-y:auto;
    overflow-x:hidden;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    height: 70vh;
}

.no-color-border-2{
    border:2px solid #25313c00;
}

.next-button{
    padding: 9px 40px 9px 40px;
    color: white;
}
.next-button:hover{
    color: #e9e9e9;
}

.back-button{
    background: #F5F7F9;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 5px;
    padding:9px 40px 9px 40px;
    color: #92989D;
}
.back-button:hover{
    background: #dadcdf;
    color: #7f858a;
}
#messageOutputContainer{
    display:inline;
    margin-top:auto;
    margin-bottom:auto;
    background-color: #FFF3CD;
    text-align:center;
    color:black;
}
.line-to-bottom{
    position: relative;
}
.line-to-bottom::before{
    content: "";
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 1px;
    background: #60cef5;
}
.line-to-bottom::after{
    content: "";
    position: absolute;
    bottom: -50px;
    height: 6.5px;
    border-radius: 50%;
    background: #60cef5;
    width: 6.5px;
    border: 1.5px solid white;
}


.select2-selection__rendered {
    line-height: 61px !important;
}
.select2-container .select2-selection--single {
    height: 65px !important;
}
.select2-selection__arrow {
    height: 64px !important;
}

.box-format{
    padding-left: 0.5rem;
    display:flex;
    align-items: center;
    /* margin-bottom: 0.5rem; */
}

.set-path-holder-container{
    position: relative;
    padding-bottom: 20px;
    background: #f5f7f9;
}

.set-path-holder-container-main{
    background-color: white;
    padding-top:20px;
    padding-bottom:20px;
}

.set-content-info{
    position: relative;
    margin-top:2rem;
    margin-bottom:2rem;
}

.fa-chevron-left-icon{
    display: inline;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.display-none-class{
    display: none;
}

.referenc-point{
    position:relative;
    height:100vh;
}


.absolute-point{
    position:absolute;
}
.bar-collapse{
    color: gray;
    right: 30px;
    background: white;
    top: 48px;
    height: 40px;
    width: 50px;
    cursor: pointer;
    font-size: 25px;
    text-align: center;
    z-index: 4;
}
@media screen and (max-width: 600px) {
    .bar-collapse{
        top:10px;
    }
    .back-button{
        padding:9px 9px 9px 9px;
    }
    .next-button{
        padding: 9px 9px 9px 9px;
    }
}


pre{
    font-family: inherit;
}


.preview-holder-content{
    background-color: #F5F7F9;
    text-align:center;
    justify-content:center;
    overflow:auto;
    height:100vh;
    padding-bottom:100px;
}

.text-box-select{
    display:flex;
    margin-left: 1rem;
    width:100%;
}

.set-content-footer-buttons{
    padding-top:1rem;
    border-top:1px solid #dee2e6;
    justify-content: space-between;
}

.preview-main-title{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* d-flex justify-content-center text-center w-100 */
.box-select-content-text{
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    overflow:hidden;
}

/* d-flex align-items-center ms-3 */
.box-select-content-img{
    display:flex;
    align-items:center;
    
}
.simple-text-aligned{
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.small-dot{
    background: #92989D;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    flex-grow: 0;
    margin: 10px 7px 0px 7px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    align-content: flex-end;
}


.custom-form-control-rounded{
    position: relative;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgb(37 49 60 / 5%);
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    height: 68px;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 35px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    flex-direction: row;
}
/* test on focus */
.custom-form-control-rounded:focus {
    outline: none !important;
    border: 1px solid #18AEE3;
}


#addDecisionButton{
    cursor: pointer;
    color:#92989D;
}

.custom-form-control-textarea{
    padding:10px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(37, 49, 60, 0.05);
    border-radius: 5px;
    width:100%;
}


.selected-decision-remove{
    position: absolute;
    right: -11px;
    z-index: 1;
    top: 50%;
    height: 30px;
    border-radius: 35px;
    text-align: center;
    width: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    background-color:#F9F9F9;
    border: 0.5px solid #E4E4E4;
    color:#E4E4E4;
    flex-direction: column;
    font-size: 12px;
    cursor: pointer;
}

.selected-decision-remove:hover{
    background-color: #FF5454;
    border: 0.5px solid #FF5454;
    color: white;
}
